@property --h {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.container {
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 9, 121, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}

.bottom-line {
  margin: -35px 0;
  transform: rotate(90deg);
}

p {
  margin: 0;
}

.header {
  width: 100%;
}

.header > h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.main {
  width: 100%;
  flex: 70;

  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main > * {
  padding: 0 30px;
  text-align: center;
}

.main__text1 {
  font-size: 16px;
}

.main__button {
  margin: 30px;
}

.main__text {
  border: 2px solid black;
  border-radius: 10px;
  min-height: 200px;
  min-width: 300px;
  max-width: 320px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.main__box-text {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 20px;
}

.box-1 {
  padding-bottom: 20px;
}

/* CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}

img {
  --s: 150px; /* image size */
  --b: 12px; /* the border */
  --d: 30px; /* the 3D depth */
  --c: #0066b2;
  --_c: color-mix(in srgb, var(--c), #fff 25%);

  --_w: calc(var(--s) + 2 * var(--b));
  width: calc(var(--_w) + var(--d));
  aspect-ratio: 1;
  padding-top: min(var(--h) - var(--b), var(--s));
  border: solid #0000;
  border-width: var(--b) calc(var(--b) + var(--d)) calc(var(--b) + var(--d))
    var(--b);
  box-sizing: border-box;
  object-fit: cover;
  object-position: bottom;
  background: linear-gradient(var(--_c) 0 0) no-repeat 0 0 /
      calc(100% - var(--d)) calc(100% - var(--d) + var(--h) - var(--_w)),
    conic-gradient(
        at right var(--d) bottom var(--d),
        #0004 37.5%,
        #0008 0 75%,
        #0000 0
      )
      var(--c);
  background-origin: border-box;
  clip-path: polygon(
    0 calc(var(--h) - var(--_w)),
    calc(100% - var(--d)) calc(var(--h) - var(--_w)),
    calc(100% - var(--d)) 0,
    100% var(--d),
    100% 100%,
    var(--d) 100%,
    0 calc(100% - var(--d))
  );
  box-shadow: 0 0 0 999px var(--_c);
  --h: var(--_w);
  transition: --h 0.6s linear;
  cursor: pointer;
}
.alt {
  --c: #8a9b0f;
  border-width: var(--b) var(--b) calc(var(--b) + var(--d))
    calc(var(--b) + var(--d));
  background: linear-gradient(var(--_c) 0 0) no-repeat 100% 0 /
      calc(100% - var(--d)) calc(100% - var(--d) + var(--h) - var(--_w)),
    conic-gradient(
        at left var(--d) bottom var(--d),
        #0000 25%,
        #0008 0 62.5%,
        #0004 0
      )
      var(--c);
  background-origin: border-box;
  clip-path: polygon(
    100% calc(var(--h) - var(--_w)),
    var(--d) calc(var(--h) - var(--_w)),
    var(--d) 0,
    0 var(--d),
    0 100%,
    calc(100% - var(--d)) 100%,
    100% calc(100% - var(--d))
  );
}

img:hover {
  --h: 0px;
}

/* for firefox you will have a small missalignement */
@supports (-moz-appearance: none) {
  img {
    transition: 0.6s linear;
  }
}
